# 시리즈 만들기

In [3]:
import pandas as pd
s=pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [4]:
s=pd.Series(['Wes MCKinney','Creator of Pandas'])
print(s)

0         Wes MCKinney
1    Creator of Pandas
dtype: object

In [6]:
s=pd.Series(['Wes MCKinney','Creator of Pandas'],index=['Person','Who'])
s

Person         Wes MCKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [8]:
scientist=pd.DataFrame({
    'Name': ['Rosaline Fanklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-25','1876-06-13'],
    'Died':['1958-04-16','1937-10-16'],
    'Age':[37,61]}
)
scientist

               Name    Occupation        Born        Died  Age
0  Rosaline Fanklin       Chemist  1920-07-25  1958-04-16   37
1    William Gosset  Statistician  1876-06-13  1937-10-16   61

In [5]:
scientist=pd.DataFrame(
data={'Occupation':['Chemist','Statistician'],
     'Born':['1920-07-25','1876-06-13'],
     'Died':['1958-04-16','1937-10-16'],
     'Age':[37,61]},
index=['Rosaline Fanklin','William Gosset'], 
columns=['Occupation','Born','Age','Died'])
scientist

                    Occupation        Born  Age        Died
Rosaline Fanklin       Chemist  1920-07-25   37  1958-04-16
William Gosset    Statistician  1876-06-13   61  1937-10-16

In [7]:
from collections import OrderedDict

scientists=pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Fanklin','William Gosset']),
    ('Occupation',['Chemist','Statistician']),
    ('Born',['1920-07-25','1876-06-13']),
    ('Died',['1958-04-16','1937-10-16']),
    ('Age',[37,61])
    
])
)
scientists

               Name    Occupation        Born        Died  Age
0  Rosaline Fanklin       Chemist  1920-07-25  1958-04-16   37
1    William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [14]:
scientists=pd.DataFrame(
    data={'Occupation':['Chemist','Statistician'],
         'Born':['1920-07-25','1876-06-13'],
         'Died':['1958-04-16','1937-10-16'],
         'Age':[37,61]},
    index=['Rosaline Fanklin','William Gosset'], 
    columns=['Occupation','Born','Age','Died']
)
scientists

                    Occupation        Born  Age        Died
Rosaline Fanklin       Chemist  1920-07-25   37  1958-04-16
William Gosset    Statistician  1876-06-13   61  1937-10-16

In [15]:
first_row=scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [17]:
first_row  #key값으로 찾아올 수 있음

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

# index, values, keys 사용하기
시리즈 속성과 메서드 사용하기

**index 속성 사용하기**

In [22]:
print(first_row.index)
print(first_row.index[0]) #index속성의 첫 번째 값을 추출

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
Occupation

**values속성 사용하기**

In [19]:
print(first_row.values)

['Statistician' '1876-06-13' 61 '1937-10-16']

**keys 메서드 사용하기**  
key는 속성이 아니라 메서드이다. index속성과 같은 역할

In [24]:
print(first_row.keys())
print(first_row.keys()[0]) #index속성의 첫 번째 값을 추출

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [25]:
ages=scientists['Age']
print(ages)

Rosaline Fanklin    37
William Gosset      61
Name: Age, dtype: int64

In [26]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

#### 시리즈 메서드 정리  
  
  |시리즈 메서드|설명|
  |---|---|
  |`append`|2개 이상의 시리즈 연결|
  |`describe`|요약 통계량 계산|
  |`drop_duplicates`|중복값이 없는 시리즈 반환|
  |`equals`|시리즈에 해당 값을 가진 요소가 있는지 확인|
  |`get_values`|시리즈 값 구하기(values 속성과 동일)|
  |`isin`|시리즈에 포함된 값이 있는지 확인|
  |`min`|최솟값 반환|
  |`max`|최댓값 반환|
  |`mean`|산술 평균 반환|
  |`median`|중간값 반환|
  |`replace`|특정 값을 가진 시리즈 값을 교체|
  |`sample`|시리즈에서 임의의 값을 반환|
  |`sort_value`|값을 정렬|
  |`to_frame`|시리즈를 데이터프레임으로 반환|

# 시리즈와 불린 추출 사용하기

In [30]:
scientists=pd.read_csv('./data/scientists.csv')
print(scientists.describe())
ages=scientists['Age']
print(ages.max())
print(ages.mean())

             Age
count   8.000000
mean   59.125000
std    18.325918
min    37.000000
25%    44.000000
50%    58.500000
75%    68.750000
max    90.000000
90
59.125

In [29]:
#평균보다 나이가 많은 사람들의 데이터 추출
print(ages>ages.mean()) 
print('-------------------')
print(ages[ages>ages.mean()])

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
-------------------
1    61
2    90
3    66
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [33]:
print(ages+ages) #v+v
print(ages*ages) #v*v
print(ages+100) #v+s
print(ages*2) #v*s
print(pd.Series([1,100])) #길이가 서로 다른 벡터 연산  : 같은 인덱스의 값만 계사뉴
print(ages+pd.Series([1,100]))

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

### sort_index 메서드 (ascending=T/F)

In [35]:
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [34]:
rev_ages=ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

***
아래 결과가 같은 이유   
* 벡터와 벡터 연산은 같은 인덱스를 찾아 연산했기 때문이다

In [36]:
print(ages*2)
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [39]:
print(scientists[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [41]:
#loc속성에 bool 벡터 전달 
print(scientists.loc[[True,True, False, True,True,True, False, True]]) #인덱스가 2인 행 데이터는 bool값이 false라 출력 안함

                Name        Born        Died  Age     Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37        Chemist
1     William Gosset  1876-06-13  1937-10-16   61   Statistician
3        Marie Curie  1867-11-07  1934-07-04   66        Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56      Biologist
5          John Snow  1813-03-15  1858-06-16   45      Physician
7       Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

# 데이터프레임과 브로드캐스팅

In [42]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [52]:
#column 자료형 확인해보기
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)
#datetime 자료형으로 변환해주기
born_datetime=pd.to_datetime(scientists['Born'],format='%Y-%m-%d')
print(born_datatime)
died_datetime=pd.to_datetime(scientists['Died'],format='%Y-%m-%d')
print(died_datatime)

object
object
0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [57]:
scientists['born_dt'],scientists['died_dt']=(born_datetime, died_datetime)
print(scientists.head())
print(scientists.info())
print(scientists.shape)

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
 5   born_dt     8 non-null      datetime64[ns]
 6   died_dt     8 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 576.0+ bytes
None
(8, 7)

In [59]:
#datetime으로 시간 계산
scientists['age_days_dt']=(scientists['died_dt']-scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [61]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [63]:
# 데이터 섞기 위해 import random library 

import random

random.seed(42) # 컴퓨터가 생성하는 난수의 기준값을 정하기 위해 사용
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    77
1    90
2    37
3    61
4    41
5    45
6    66
7    56
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [64]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

## drop method

In [65]:
scientists_dropped=scientists.drop(['Age'],axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 피클 형식으로 저장하기

In [77]:
names=scientists['Name']
import os
#os.mkdir('./output')
names.to_pickle('./output/scientists_names_series.pickle')
#dataframe ->pickle
scientists.to_pickle('./output/scientists_df.pickle')

In [74]:
scientists_names_from_pickle=pd.read_pickle('./output/scientists_names_series.pickle')
scientists_names_from_pickle

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [78]:
scientists_from_pickle=pd.read_pickle('./output/scientists_df.pickle')
scientists_names_from_pickle

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

# CSV 불러오기

In [79]:
names.to_csv('./output/scientist_names_series.csv')
scientists.to_csv('./output/scientists_df.tsv',sep='\t')

### 엑셀파일로 저장하기

In [80]:
!pip install xlwt
!pip install openpyxl

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     |████████████████████████████████| 99 kB 1.1 MB/s eta 0:00:011
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0
Collecting openpyxl
  Downloading openpyxl-3.0.6-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 2.0 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8913 sha256=811bb6b85dfc25f9c167903d5a267b14b73e95f14d041fcc93819a603dfd0cce
  Stored in directory: /Users/borashin/Library/Caches/pip/wheels/6e/df/38/abda47b884e3e25f9f9b6430e5ce44c47670758a50c0c51759
Successfully built et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.6

In [82]:
names_df=names.to_frame()

import xlwt
names_df.to_excel('./output/scientists_names_series_df.xls')

import openpyxl
names_df.to_excel('./output/scientists_name_series_df.xlsx')