###  2020.07.10
 1. pandas Series 이해하기

In [2]:
import numpy as np
import pandas as pd

#### **Series 값 변경**
  - 추가 및 업데이트: 인덱스를 이용
  - 삭제: drop함수 이용

In [10]:
s=pd.Series(np.arange(100,105),['a','b','c','d','e'])
print(s)

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [11]:
s['a']=200
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [12]:
s['k']=300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [13]:
s.drop('k',inplace=True) #inplace 무슨뜻?

In [14]:
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [15]:
s[['a','b']]=[300,900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

#### **Slicing**
 - 리스트, ndarray와 동일하게 적용

In [16]:
s1=pd.Series(np.arange(100,105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [17]:
s1[1:3]

1    101
2    102
dtype: int64

In [18]:
s2=pd.Series(np.arange(100,105),['a','c','b','d','e'])
s2

a    100
c    101
b    102
d    103
e    104
dtype: int64

In [19]:
s2[1:3] #지정한 인덱스가 있는 경우 순서에 맞게 인덱스와 value값이 출력된다

c    101
b    102
dtype: int64

In [20]:
s2['c':'d'] #지정한 인덱스로도 슬라이싱 사용 가능

c    101
b    102
d    103
dtype: int64

In [21]:
s2['d':'a']  #순서가 안맞으면 안됨

Series([], dtype: int64)